*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    font-family: 'Kanit', sans-serif;
}
h1{
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 35px;
    font-size: 4rem;
}
h2{
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 5px;
    font-size: 4rem;
}

button,.btn{
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 5px;
    color: #fff;
    background-color: #141414;
    margin-left: 670px;
    margin-top: 30px;
}
button,.stopbtn{
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 5px;
    color: #fff;
    background-color: #141414;
    margin-left: 720px;
    margin-top: -28px;
}

.video-tag{
    display: grid;
    justify-content: center;
    align-content: center;
    margin-left:400px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #141414;
}

